@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="shortcut icon" href="~/img/logo.png" />
<link href="~/css/index.css" rel="stylesheet" />

<div class="content">
    <h2>Welcome, you can play chess here with others by participating in tournaments!</h2>

    <p>If you want to participate you have to create an account first first. You can do that by clicking "Sign Up".</p>
</div>