@page
@model ChessWebsite.Pages.LogOutModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            window.location.href = '/Index';
        </script>
    </head>
    <body>
    </body>
</html>